* {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  font-size: 17px;
  font-family: "Arial", "Helvetica";
  line-height: 1.3em;
  font-weight: normal;
  box-sizing: border-box;
}
/* text in basics */
p {
  font-size: 17px;
  font-family: "Arial", "Helvetica";
  line-height: 1.3em;
}
h1 {
  font-size: 50px;
  font-family: "Arial", "Helvetica";
  line-height: 1.3em;
}
h2 {
  font-size: 40px;
  font-family: "Arial", "Helvetica";
  line-height: 1.3em;
}
h3 {
  font-size: 25px;
  font-family: "Arial", "Helvetica";
  line-height: 1.3em;
}
h4 {
  font-size: 20px;
  font-family: "Arial", "Helvetica";
  line-height: 1.3em;
}
h5 {
  font-size: 16px;
  font-family: "Arial", "Helvetica";
  line-height: 1.3em;
}
.text-light {
  font-weight: lighter;
}
.text-normal {
  font-weight: normal;
}
.text-bold {
  font-weight: bold;
}
/* interact stylesheet builder */
/* nulling  */
/* padding, margin, widths, heights */
.marginauto {
  margin: 0 auto;
}
.mt-s {
  margin-top: 5px;
}
.mb-s {
  margin-bottom: 5px;
}
.ml-s {
  margin-left: 5px;
}
.mr-s {
  margin-right: 5px;
}
.my-s {
  margin-top: 5px;
  margin-bottom: 5px;
}
.mx-s {
  margin-left: 5px;
  margin-right: 5px;
}
.m-s {
  margin: 5px;
}
.mt-m {
  margin-top: 15px;
}
.mb-m {
  margin-bottom: 15px;
}
.ml-m {
  margin-left: 15px;
}
.mr-m {
  margin-right: 15px;
}
.my-m {
  margin-top: 15px;
  margin-bottom: 15px;
}
.mx-m {
  margin-left: 15px;
  margin-right: 15px;
}
.m-m {
  margin: 15px;
}
.mt-l {
  margin-top: 30px;
}
.mb-l {
  margin-bottom: 30px;
}
.ml-l {
  margin-left: 30px;
}
.mr-l {
  margin-right: 30px;
}
.my-l {
  margin-top: 30px;
  margin-bottom: 30px;
}
.mx-l {
  margin-left: 30px;
  margin-right: 30px;
}
.m-l {
  margin: 30px;
}
.mt-xl {
  margin-top: 60px;
}
.mb-xl {
  margin-bottom: 60px;
}
.ml-xl {
  margin-left: 60px;
}
.mr-xl {
  margin-right: 60px;
}
.my-xl {
  margin-top: 60px;
  margin-bottom: 60px;
}
.mx-xl {
  margin-left: 60px;
  margin-right: 60px;
}
.m-xl {
  margin: 60px;
}
.pt-s {
  padding-top: 5px;
}
.pb-s {
  padding-bottom: 5px;
}
.pl-s {
  padding-left: 5px;
}
.pr-s {
  padding-right: 5px;
}
.py-s {
  padding-top: 5px;
  padding-bottom: 5px;
}
.px-s {
  padding-left: 5px;
  padding-right: 5px;
}
.p-s {
  padding: 5px;
}
.pt-m {
  padding-top: 15px;
}
.pb-m {
  padding-bottom: 15px;
}
.pl-m {
  padding-left: 15px;
}
.pr-m {
  padding-right: 15px;
}
.py-m {
  padding-top: 15px;
  padding-bottom: 15px;
}
.px-m {
  padding-left: 15px;
  padding-right: 15px;
}
.p-m {
  padding: 15px;
}
.pt-l {
  padding-top: 30px;
}
.pb-l {
  padding-bottom: 30px;
}
.pl-l {
  padding-left: 30px;
}
.pr-l {
  padding-right: 30px;
}
.py-l {
  padding-top: 30px;
  padding-bottom: 30px;
}
.px-l {
  padding-left: 30px;
  padding-right: 30px;
}
.p-l {
  padding: 30px;
}
.pt-xl {
  padding-top: 60px;
}
.pb-xl {
  padding-bottom: 60px;
}
.pl-xl {
  padding-left: 60px;
}
.pr-xl {
  padding-right: 60px;
}
.py-xl {
  padding-top: 60px;
  padding-bottom: 60px;
}
.px-xl {
  padding-left: 60px;
  padding-right: 60px;
}
.p-xl {
  padding: 60px;
}
.wrapper-small {
  max-width: 500px;
}
.wrapper {
  max-width: 1200px;
}
.fullwidth {
  width: 100%;
}
.sidepadding {
  padding-left: 30px;
  padding-right: 30px;
}
@media (max-width: 1920px) {
  .sidepadding {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 720px) {
  .sidepadding {
    padding-left: 15px;
    padding-right: 15px;
  }
}
/* text styles */
.align-right {
  text-align: right;
}
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-justify {
  text-align: justify;
}
/* colour styles */
/* background colours **/
.primary {
  background-color: #FF7E94;
  color: #D9DBE8;
}
.secondary {
  background-color: #FAC398;
  color: #2B2E47;
}
.dark {
  background-color: #2B2E47;
  color: #D9DBE8;
}
.light {
  background-color: #D9DBE8;
  color: #2B2E47;
}
.black {
  background-color: black;
  color: white;
}
.white {
  background-color: white;
  color: black;
}
.danger {
  background-color: red;
  color: white;
}
.warning {
  background-color: yellow;
  color: #2B2E47;
}
.success {
  background-color: green;
  color: white;
}
.info {
  background-color: #65A0FB;
  color: white;
}
.primary-light {
  background-color: #ff91a4;
}
.secondary-light {
  background-color: #fbcca7;
}
.danger-light {
  background-color: #ff2626;
}
.warning-light {
  background-color: #ffff26;
}
.success-light {
  background-color: #00b900;
}
.info-light {
  background-color: #7caefc;
}
.primary-dark {
  background-color: #ff4565;
}
.secondary-dark {
  background-color: #f7a25e;
}
.danger-dark {
  background-color: #d90000;
}
.warning-dark {
  background-color: #d9d900;
}
.success-dark {
  background-color: #006d00;
}
.info-dark {
  background-color: #3280fa;
}
/* text colours */
.text-primary {
  color: #FF7E94;
}
.text-secondary {
  color: #FAC398;
}
.text-dark {
  color: #2B2E47;
}
.text-light {
  color: #D9DBE8;
}
.text-black {
  color: black;
}
.text-white {
  color: white;
}
.text-danger {
  color: red;
}
.text-warning {
  color: yellow;
}
.text-success {
  color: green;
}
.text-info {
  color: #65A0FB;
}
/* border colours */
.border-primary {
  border-color: #FF7E94;
}
.border-secondary {
  border-color: #FAC398;
}
.border-dark {
  border-color: #2B2E47;
}
.border-light {
  border-color: #D9DBE8;
}
.border-black {
  border-color: black;
}
.border-white {
  border-color: white;
}
.border-danger {
  border-color: red;
}
.border-warning {
  border-color: yellow;
}
.border-success {
  border-color: green;
}
.border-info {
  border-color: #65A0FB;
}
/* border widths and radius styles */
.radius {
  border-radius: 5px;
}
.sharp {
  border-radius: 0;
}
.round {
  border-radius: 100%;
}
.border {
  border-width: 1px;
  border-style: solid;
}
.border-top {
  border-top-width: 1px;
  border-style: solid;
}
.border-left {
  border-left-width: 1px;
  border-style: solid;
}
.border-right {
  border-right-width: 1px;
  border-style: solid;
}
.border-bottom {
  border-bottom-width: 1px;
  border-style: solid;
}
.border-l {
  border-width: 3px;
  border-style: solid;
}
.border-top-l {
  border-top-width: 3px;
  border-style: solid;
}
.border-left-l {
  border-left-width: 3px;
  border-style: solid;
}
.border-right-l {
  border-right-width: 3px;
  border-style: solid;
}
.border-bottom-l {
  border-bottom-width: 3px;
  border-style: solid;
}
.noborder {
  border: 0;
}
/* button and link styles */
.button:hover {
  background-color: #FAC398;
}
.button {
  display: inline-block;
  border-radius: 5px;
  padding: 5px 15px;
  background-color: #FF7E94;
  font-size: 17px;
  color: white;
}
.button .fullwidth {
  display: block;
}
.button .primary-hover:hover {
  background-color: #FF7E94;
}
.button .secondary-hover:hover {
  background-color: #FAC398;
}
.button .dark-hover:hover {
  background-color: #2B2E47;
}
.button .light-hover:hover {
  background-color: #D9DBE8;
}
.button .danger-hover:hover {
  background-color: red;
}
.button .warning-hover:hover {
  background-color: yellow;
}
.button .success-hover:hover {
  background-color: green;
}
.button .info-hover:hover {
  background-color: #65A0FB;
}
button.transparent {
  background-color: transparent;
}
a:hover {
  color: #FAC398;
}
a {
  color: #FF7E94;
  text-decoration: none;
}
a .primary-hover:hover {
  background-color: #FF7E94;
}
a .secondary-hover:hover {
  background-color: #FAC398;
}
a .dark-hover:hover {
  background-color: #2B2E47;
}
a .light-hover:hover {
  background-color: #D9DBE8;
}
a .danger-hover:hover {
  background-color: red;
}
a .warning-hover:hover {
  background-color: yellow;
}
a .success-hover:hover {
  background-color: green;
}
a .info-hover:hover {
  background-color: #65A0FB;
}
a .text-decoration {
  text-decoration: underline;
}
/* grid styles */
.grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.grid * {
  flex-grow: 1;
}
.grid .col-100 {
  width: 100%;
}
.grid .col-95 {
  width: 95%;
}
.grid .col-90 {
  width: 90%;
}
.grid .col-85 {
  width: 85%;
}
.grid .col-80 {
  width: 80%;
}
.grid .col-75 {
  width: 75%;
}
.grid .col-70 {
  width: 70%;
}
.grid .col-65 {
  width: 65%;
}
.grid .col-60 {
  width: 60%;
}
.grid .col-55 {
  width: 55%;
}
.grid .col-50 {
  width: 50%;
}
.grid.wrap {
  flex-wrap: wrap;
}
.grid.grid.grid.nowrap {
  flex-wrap: nowrap;
}
.wrap-reverse {
  flex-wrap: wrap-reverse;
}
.column {
  flex-direction: column;
}
.grid.column-reverse {
  flex-direction: column-reverse;
}
.grid.row {
  flex-direction: row;
}
.grid.row-reverse {
  flex-direction: row-reverse;
}
.grid.flex-start {
  justify-content: flex-start;
}
.grid.flex-end {
  justify-content: flex-end;
}
.grid.flex-center {
  justify-content: center;
}
.grid.flex-space-between {
  justify-content: space-between;
}
.grid.flex-space-around {
  justify-content: space-around;
}
.grid.flex-space-evenly {
  justify-content: space-evenly;
}
.grid.align-stretch {
  align-items: stretch;
}
.grid.align-start {
  align-items: flex-start;
}
.grid.align-end {
  align-items: flex-end;
}
.grid.align-center {
  align-items: center;
}
.grid.align-baseline {
  align-items: baseline;
}
.grid.content-start {
  align-content: flex-start;
}
.grid.content-end {
  align-content: flex-end;
}
.grid.content-center {
  align-content: center;
}
.grid.content-space-between {
  align-content: space-between;
}
.grid.content-space-around {
  align-content: space-around;
}
.grid.content-space-evenly {
  align-content: space-evenly;
}
.grid.content-stretch {
  align-content: stretch;
}
.grid.gap {
  gap: 20px;
}
.grid.nogap {
  gap: 0;
}
@media (max-width: 1920px) {
  .grid.breaktablet {
    display: block;
  }
}
@media (max-width: 720px) {
  .grid.breakmobile {
    display: block;
  }
}
/* list styles */
li {
  list-style-type: none;
}
/* positions styles */
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.sticky {
  position: sticky;
}
.fixed {
  position: fixed;
}
.top0 {
  top: 0;
}
.left0 {
  left: 0;
}
.right0 {
  right: 0;
}
.bottom0 {
  bottom: 0;
}
/* form and label styles */
/* images and avatar styles */
img.rounded {
  border-radius: 100%;
}
img.cover {
  object-fit: cover;
}
img.fill {
  object-fit: fill;
}
img.contain {
  object-fit: contain;
}
/* formality form builder */
/* reusable elements */
.navbar h1, .navbar h1 span {
  font-size: 20px;
}
.navbar h1 span, .navbar h1 span span {
  color: #65A0FB;
  font-weight: lighter;
}
.navbar .wrapper .grid {
  align-items: center;
}
.visible {
  display: block;
}
.hidden {
  display: none;
}
@media (max-width: 720px) {
  .mobile-visible {
    display: block;
  }
  .mobile-hidden {
    display: none;
  }
}
/* mobile-harmonica elements */
.mobile-harmonica-button {
  display: none;
}
@media (max-width: 720px) {
  .mobile-harmonica-button {
    display: block;
  }
}
/* profile elements */
.profile-box {
  display: flex;
  align-items: center;
}
.profile-box .profile-name {
  flex-grow: 3;
  text-align: right;
}
.profile-box .profile-name .username {
  font-size: 0.9em;
  color: white;
}
.profile-box .profile-name .modify, .profile-box .profile-name .modify a .navname {
  font-size: 0.55em;
  color: #D9DBE8;
  text-transform: uppercase;
  position: relative;
}
.profile-box .profile-name .modify a .navdropout {
  display: none;
  position: absolute;
}
.profile-box .profile-name .modify a:hover .navdropout {
  display: block;
  position: absolute;
}
.profile-box .profile-picture {
  max-width: 50px;
  flex-grow: 1;
  text-align: right;
}
.profile-box .profile-picture img {
  width: 40px;
  height: 40px;
  border: 1px solid #D9DBE8;
}
/* the admin panel structure */
body {
  padding-top: 90px;
  background-color: #2B2E47;
}
/* Interact navigation */
.navbar {
  background: linear-gradient(90deg, #363558 0%, #363558 85%, #3a3461 100%);
  border-bottom: 1px solid #3A3461;
  padding: 10px 0 10px 0;
}
/* https://cssgradient.io/ */
/* transition animations */
/* DEBUGGING HELPER */
/*@import "../../vendor/rik-janssen/frontier/sass/debug.scss"; */
