$ratio: 5;
$exponent: 9;

$mobile: 500px;
$desktop: 1200px;
$ultrawide: 100%; 

$radius: #{$ratio}px;
$borderWidth: 1px;
$borderStyle: solid;

$primary: #FF7E94;
$secondary: #FAC398;
$dark: #2B2E47;
$light: #D9DBE8;
$black: black;
$white: white;
$danger: red;
$warning: yellow;
$success: green;
$info: #65A0FB;

$fontFamily: 'Arial', 'Helvetica';
$headerFamily: 'Arial', 'Helvetica';
$fontSize: 16px;
$lineHeight: 1.3em;
$textDecoration: none;
$listType: none;

$breakpoints:
"ultrawide" 2500px,
"desktop" 1900px,
"tablet" 920px,
"mobile" 520px;

/* maybe work from mobile up.. */