$mar-pad-s: 5px;
$mar-pad-m: 15px;
$mar-pad-l: 30px;
$mar-pad-xl: 60px;

$mobileWidth: 500px;
$normalWidth: 1200px;
$fullWidth: 100%; 

$radius: 5px;
$borderWidth: 1px;
$borderStyle: solid;

$primary: #f0f;
$secondary: #00f;

$dark: #222;
$light: #efefef;
$black: black;
$white: white;

$danger: red;
$warning: yellow;
$success: green;
$info: blue;

$lighter: +15%;
$darker: -15%;

$fontFamily: 'Arial', 'Helvetica';
$headerFamily: 'Courier', 'Helvetica';
$fontSize: 17px;
$lineHeight: 1.3em;

$h1: 50px;
$h2: 40px;
$h3: 25px;
$h4: 20px;
$h5: 16px;

$textDecoration: none;
$linkColor: $primary;
$linkHover: $secondary;

$gridGap: 20px;
