$ratio: 8;
$exponent: 9;

$breakpoints:
"mobile" 520px 100% 1,
"tablet" 920px 100% 1,
"desktop" 1900px 100% 0.8,
"ultrawide" 10000px 1920px 0.8;

$radius: #{$ratio}px;

$primary: #FF7E94;
$secondary: #FAC398;
$dark: #2B2E47;
$light: #D9DBE8;
$black: black;
$white: white;
$danger: red;
$warning: yellow;
$success: green;
$info: #65A0FB;

$colours: "primary" $primary, "secondary" $secondary, "dark" $dark, "light" $light, "black" $black, "white" $white, "danger" $danger, "warning" $warning, "success" $success, "info" $info;

$fontFamily: 'Arial', 'Helvetica';
$headerFamily: 'Courier', 'Helvetica';
$fontSize: 18px;
$lineHeight: 1.3em;
$textDecoration: none;
$iconFont: 'Arial';
$icons:
"info" "I",
"mail" "E",
"user" "U";





