<!DOCTYPE html>
<html lang="en"></html>
<html class="h-100">
	<head>
		<title>{% yield title %} - Interact - {% @ site/title %}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% hook admin_head %}
		</head>
	<body class="has-background-white-bis">
	{% hook admin_body %}

	<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
		<div class="container">
			<div class="navbar-brand">
			<a class="navbar-item" href="{% route / %}">
				<img src="https://bulma.io/images/bulma-logo.png" width="112" height="28" alt="{% @ site/title %}">
			</a>
			
			<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</a>
			</div>
		
			<div id="navbarBasicExample" class="navbar-menu">
		
			<div class="navbar-end">
				<div class="navbar-item">
					<div class="buttons">
					<a class="button is-dark">
					Log out
					</a>
				</div>
				</div>
			</div>
			</div>
		</div>
	  </nav>
	
	<!-- nav / aside-->
	<div class="container">
		<div class="admin">
			<aside class="menu p-5">
				{% hook admin_nav %}
			</aside>
		
			<div class="content p-5">
		
			{% flash admin %}
		
			<!-- content here -->

				{% yield content %}
		
			<!-- end of content -->
		
			</div>
		
		</div>
	</div>
	{% hook admin_foot %}
	</body>
</html>
