@charset "utf-8";

body, html{
    height: 100%;
}

@import "~bulma/bulma";


/**********/
/* VESPER ADMIN */

div.admin{
    display: flex;
    flex-direction: row;
}

aside.menu{
    flex-grow: 1;
    width: 20%;
    max-width: 300px;
    min-width: 170px;
}

div.content{
    flex-grow: 1;
}

.shadow-wide{
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, .1);
}

.rounded-corners{
    border-radius: 5px;
}